<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/Layout/css/reset.css">
        <link rel="stylesheet" href="/Layout/css/style.css">
        <title>Layout</title>
    </head>
    <body>
        <header>
            <h1>Layout</h1>
        </header>

        <main>
            <section>
                <nav>
                    <ul>
                        <li> <a href="#">Tokyo</a>
                        <li><a href="#">Nagashaki</a></li>
                        <li><a href="#">Hiroshima</a></li></li>
                    </ul>
                </nav>
                <article>
                    <h1>Japan</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nulla
                        molestias facere mollitia dolor, omnis sit iste, necessitatibus 
                        deleniti dolore autem odit obcaecati explicabo aut ratione possimus 
                        sapiente! Cum, eum?Unde tempore soluta, rem voluptatibus commodi quis ea molestiae illum dolorem accusantium quaerat temporibus natus sunt ipsam illo eius odit minus quod vitae, animi numquam deserunt? Laboriosam omnis iste fugit.
                   Consequuntur ea ipsa aliquid repudiandae sint reprehenderit, quia magni magnam eaque ad maiores tempora deserunt delectus eius est cupiditate. Reprehenderit aperiam quos fuga provident dolorum sed earum minima temporibus obcaecati?
                   Dolore omnis facere porro consectetur eveniet suscipit vel eaque officiis hic, nostrum ut nobis accusamus, atque ab eligendi. Sit harum perferendis corporis veritatis quia, voluptates delectus odit eos ad minima!
                   Veritatis commodi deserunt maxime quidem blanditiis provident ab aut deleniti atque? Necessitatibus inventore, ut, blanditiis ratione eaque obcaecati architecto sed consequatur ducimus debitis quo unde. Numquam dolores repellendus ipsum omnis.
                   Repudiandae eligendi minima fuga nesciunt perferendis. Eius enim tempora cupiditate minima, suscipit laborum recusandae commodi aliquid exercitationem rem asperiores ipsa, velit expedita nulla ab vero, ullam animi aut illum laudantium.
                   </p>
                </article>
            </section>
        </main>
        <footer>
            <p>Say's Goodbye</p>
        </footer>
    </body>
</html>