.heading {
    margin: 0 94px;
}
/* --------circle-------- */
.main-ul-item {
    list-style: circle;
}

.main-ul-item li {
    margin: 10px 0 0 0;
}
/* --------square-------- */
.main-ol-item {
    list-style: square;
}
/* -------- disc--------- */
.main-uls-item {
    list-style: disc;
}