.container {
    max-width: 959px;
    margin: 0 auto;
    background-color: rgba(255, 127, 80, 0.527);
}

img {
    width: 200px;
    height: auto;
}

h1,h2 {
    display: block;
}

.link-elementblock {
    max-width: calc(959px/2);
    height: auto;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.301);
}